.headerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.headerNav {
  display: flex;
  color: var(--white-color);
  gap: 3.5rem;
}

@media (min-width: 650px) {
  .headerBox {
    flex-direction: row;
    justify-content: space-between;
  }
}
